In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [2]:
balance_data = pd.read_csv('dataset/DDT.csv', sep= ',', header=0)

In [3]:
balance_data = balance_data.copy()

## Preprocessing Data

In [4]:
df = balance_data.drop(columns=['UnknownVal'])

In [5]:
print ("Dataset Lenght:: ", len(df))
print ("Dataset Shape:: ", df.shape)

Dataset Lenght::  1000
Dataset Shape::  (1000, 5)

In [6]:
df

     Initial Pay.  Last Pay.  Credit Score  House Number Result
0             201      10018           250          3046    yes
1             205      10016           395          3044    yes
2             257      10129           109          3251    yes
3             246      10064           324          3137    yes
4             117      10115           496          3094    yes
..            ...        ...           ...           ...    ...
995           413      14914           523          4683     No
996           359      14423           927          4838     No
997           316      14872           613          4760     No
998           305      14926           897          4572     No
999           168      14798           834          4937     No

[1000 rows x 5 columns]

In [ ]:
df.columns.isna()

In [8]:
#hapus NaN Data
dfnull = df[df['Result'].isnull()]
print("Data NULL pada atribut Result : " + str(dfnull.shape[0]), "baris")
dfnull

Data NULL pada atribut Result : 0 baris

Empty DataFrame
Columns: [Initial Pay., Last Pay., Credit Score, House Number, Result]
Index: []

In [9]:
df.Result.dropna(inplace=True)

In [10]:
df.Result.replace({
    "No":"No",
    "yes":"Yes"
}, inplace=True)

In [11]:
df

     Initial Pay.  Last Pay.  Credit Score  House Number Result
0             201      10018           250          3046    Yes
1             205      10016           395          3044    Yes
2             257      10129           109          3251    Yes
3             246      10064           324          3137    Yes
4             117      10115           496          3094    Yes
..            ...        ...           ...           ...    ...
995           413      14914           523          4683     No
996           359      14423           927          4838     No
997           316      14872           613          4760     No
998           305      14926           897          4572     No
999           168      14798           834          4937     No

[1000 rows x 5 columns]

In [12]:
X = df.values[:, 0:4]
Y = df.values[:,4]

In [13]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

In [14]:
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,
 max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=100, splitter='best')

In [15]:
y_pred_en = clf_entropy.predict(X_test)
y_pred_en

array(['Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No',
       'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'No',
       'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No',
       'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No',
       'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No',
       'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No',
       'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No',
       'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes',
       'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No',
       'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes',
       'Yes'], dtype=object)

In [16]:
print ("Accuracy is ", accuracy_score(y_test,y_pred_en)*100)

Accuracy is  93.66666666666667

In [ ]:
prediksi = clf_entropy.predict(X_test)
prediksi